
  
  progress {
    opacity: 0;
  }
  
  .progress-element {
    width: 270px;
    margin: -2px;
    align-items: center;
  }
  
  .progress-container {
    position: relative;
    background: #eee;
    height: 10px;
    border-radius: 3px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(0,0,0,1) 200%);
  }
  
  .progress-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: turquoise;
  }
  
  .progress-element--hp .progress-container::before {
    animation: progress-hp 1s ease-in forwards;
  }
  
  .progress-element--atk .progress-container::before {
    animation: progress-atk 1s ease-in forwards;
  }
  
  .progress-element--def .progress-container::before {
    animation: progress-def 1s ease-in forwards;
  }
  .progress-element--SpAtk .progress-container::before {
    animation: progress-SpAtk 1s ease-in forwards;
  }
  
  .progress-element--SpDef .progress-container::before {
    animation: progress-SpDef 1s ease-in forwards;
  }
  
  .progress-element--Speed .progress-container::before {
    animation: progress-Speed 1s ease-in forwards;
  }
  
  .progress-label {
    position: relative;
    width: 53px;
  }
  
  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  

  
  .progress-element--hp .progress-label::after {
    animation: progress-text-hp 0.5s ease-in forwards;
  }
  
  .progress-element--atk .progress-label::after {
    animation: progress-text-atk 0.5s ease-in forwards;
  }
  
  .progress-element--def .progress-label::after {
    animation: progress-text-def 0.5s ease-in forwards;
  }
  .progress-element--SpAtk .progress-label::after {
    animation: progress-text-SpAtk 0.5s ease-in forwards;
  }
  .progress-element--SpDef .progress-label::after {
    animation: progress-text-SpDef 0.5s ease-in forwards;
  }
  .progress-element--Speed .progress-label::after {
    animation: progress-text-Speed 0.5s ease-in forwards;
  }
  
  :root{
    --base-HP: 0;
    --max-HP: 0;
    --percent-HP: calc((var(--base-HP) / var(--max-HP)) * 100);
    --base-ATK: 0;
    --max-ATK: 0;
    --percent-ATK: calc((var(--base-ATK) / var(--max-ATK)) * 100);
    --base-DEF: 0;
    --max-DEF: 0;
    --percent-DEF: calc((var(--base-DEF) / var(--max-DEF)) * 100);
    --base-SPATK: 0;
    --max-SPATK: 0;
    --percent-SPATK: calc((var(--base-SPATK) / var(--max-SPATK)) * 100);
    --base-SPDEF: 0;
    --max-SPDEF: 0;
    --percent-SPDEF: calc((var(--base-SPDEF) / var(--max-SPDEF)) * 100);
    --base-Speed: 0;
    --max-Speed: 0;
    --percent-Speed: calc((var(--base-Speed) / var(--max-Speed)) * 100);
  }


  @keyframes progress-hp {
    to {
        width: calc(var(--percent-HP) * 1%);
    }
  }
  
  @keyframes progress-atk {
    to {
        width: calc(var(--percent-ATK) * 1%);
    }
  }
  
  @keyframes progress-def {
    to {
        width: calc(var(--percent-DEF) * 1%);
    }
  }
  @keyframes progress-SpAtk {
    to {
        width: calc(var(--percent-SPATK) * 1%);
    }
  }
  @keyframes progress-SpDef {
    to {
        width: calc(var(--percent-SPDEF) * 1%);
    }
  }
  @keyframes progress-Speed {
    to {
        width: calc(var(--percent-Speed) * 1%);
    }
  }